.Profile-heading h5 {
  text-align: center;

  color: rgb(7, 105, 7);
  font-size: x-large;
  font-weight: 600;

  letter-spacing: 5px;
  text-transform: uppercase;
}

.UserMain {
  max-width: 420px;

}

.InputFilds {}

.InputFilds input {
  padding: 10px;
  width: 98%;
  margin-top: 20px;
}

.update-btn button {
  background-color: transparent;
  border: 1px solid orangered;
  padding: 10px 60px;
  color: orangered;
  text-transform: uppercase;
}

.update-btn button:hover {
  background-color: rgb(5, 136, 29);
  border: none;
  padding: 10px 60px;

  color: white;
}